@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-base text-white font-mono;
    font-family: 'Yantramanav', sans-serif;
    color: hsl(225, 14%, 75%);
  }
}

@layer components {
  .navLink {
    @apply transition-colors duration-100 hover:text-neon cursor-pointer;
  }

  .mobileNavLink {
    @apply transition-colors duration-100 hover:text-neon cursor-pointer;
    @apply text-2xl whitespace-nowrap;
  }

  .social-icon {
    @apply m-3 w-8 h-8 cursor-pointer hover:text-neon;
  }

  .logo {
    @apply relative inline-block border-neon px-3 whitespace-nowrap text-center;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .logo::before {
    @apply absolute left-0 px-1 border-8 border-neon;
    content: '';
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
  }
  .logo::after {
    @apply absolute right-0 top-0 px-1 border-8 border-neon;
    content: '';
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
  }
}
